.chat-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  margin-bottom: calc(57px + 5rem);
  padding-top: 0px;
}

.app-name {
  font-weight: 600;
  display: flex;
}

.app-name div {
  background: rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  border-radius: 1rem;
}

.app-name span {
  font-family: cursive;
  font-style: italic;
  font-size: 1.5rem;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

button {
  border-radius:10px;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.search-input {
  resize: none;
  flex: 1;
  background: transparent;
  outline: none;
  height: 20rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  font-size: inherit;
  border-radius: 10px;
  border: 1px solid;
}

.searchBar-container {
  width: 90%;
  position: fixed;
  bottom: 57px;
  background-color: #09090b;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  padding-top: 0px;
}

.searchBar button {
  background-color: rgb(63, 128, 226);
  color: white;
  flex: 0;
  height: 2.5em;
  padding: 0 2em;
}

.searchBar button:disabled {
  background-color: rgb(162, 192, 238);
}

.chat-container {
  width: 50%;
  margin-top: 3em;
}

.chatConversations {
  display: flex;
  flex-direction: column;
}

.chat-prompt {
  align-self: flex-end;
  margin: 1rem 0;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid;
  border-radius: 10px;
  padding: 0.5rem;
}

.chat-container button {
  background-color: rgb(205, 56, 56);
  color: white;
  padding: 0.5em 1.5em;
  margin: 2rem 0;
}

/* Responsive */

@media (max-width: 768px) { /* md */
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .searchBar-container {
    width: 100%;
  }

  .searchBar {
    gap: 0.5rem;
  }

  .search-input {
    height: 5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  .chat-container {
    width: 90%;
  }
  .chat-response,
  .chat-prompt {
    max-width: 80%;
  }
}